.mobileSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background: white;
  z-index: 2000;
  padding: 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.close {
  margin-left: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #444;
  cursor: pointer;
}

.section {
  margin-top: 1.5rem;

   .dropdown {
  position: relative;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  font: inherit;
  padding: 0.75rem 2rem;
  width: 100%;
  text-align: left;
  color: #444;
  cursor: pointer;
}

.dropdownMenu {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.5rem;
  border-left: 2px solid #eee;
}

  h4 {
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #666;
  }
}

.link {
     color: #333;
    align-items: center;
    background: none;
    gap: .75rem;
    border: none;
    padding: .6rem 0;
    font-size: 15px;
    text-decoration: none;
    transition: all .2s;
    display: flex;

  &:hover {
    color: #39cdcc;
  }
}

.active {
  color: #39cdcc;
  font-weight: 600;
}

.icon {
  width: 18px;
  height: 18px;
}
